body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #2f1b25;
  color: white;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #2d1621;
  color: #febc04;
  padding-left: 50px;
}

.homePageWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formWrapper {
  background-color: #2d1621;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 60vh;
  max-width: 80%;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.homePageLogo {
  height: 20vh;
  margin-bottom: 14px;
}

.formWrapper input {
  width: 90%;
}

.mainLabel {
  margin-bottom: 18px;
  margin-top: 0;
}

.homeInput {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-bottom: 18px;
  background: rgb(206, 202, 202);
  font-weight: bold;
  font-size: 14px;
}

.footer {
  position: fixed;
  bottom: 0;
  color: white;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.joinBtn {
  background-color: #febc04;
  width: 100px;
  margin-bottom: 14px;
  font-weight: bold;
  font-size: 15px;
}

.joinBtn:hover {
  background-color: greenyellow;
}

.createRoomSection {
  margin-bottom: 14px;
}
.createNewRoomBtn {
  color: #febc04;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.createNewRoomBtn:hover {
  color: greenyellow;
}

.createRoomInfo {
  margin-bottom: 12px;
}
